.main       
  .main-head
    .main-head__group
      %p.main-head__group--name
        = @group.name
      %p.main-head__group--member 
        = "Member："
        - @group.users.each do |member|
          = member.name
    =link_to edit_group_path(@group), class: "main-head__edit-btn" do
      Edit
  .main-content
    = render partial: "message", collection: @messages
  = render partial: "form"